<div class="eight wide column">
  <h1 class="ui header">Edit Tilemap</h1>

  <%= render partial: "shared/alerts" if flash[:alert] %>
  <%= render partial: "shared/errors", locals: { errors: @tilemap.errors } if @tilemap.errors.any? %>
  <div class="ui segment">
    <div id="uploadform">
      <%= form_for @tilemap, html: { multipart: true, class: "ui form" } do |form| %>
        <%= render partial: "form", locals: { form: form } %>
        <div class="field">
          <%= form.submit "Save", class: "ui primary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
