<% if flash[:alert] %>
  <div id="alert">
    <%=flash[:alert]%>
  </div>
<% end %>

<% if @tilemap.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @tilemap.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="uploadform">
<%= form_for :tilemap, url: {action: "create"}, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :name, 'Name: ' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :tilemap_data, 'Tilemap: ' %>
    <%= form.file_field :tilemap_data %>
  </div>
  <div>
    <%= form.label :tilesets, 'Tilesets: '  %>
    <%= form.file_field :tileset %>
  </div>
  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>
</div>


<% content_for :inline_styles do %>
<style>
    body {
      font-family: helvetica;
    }
    #alert, #uploadform form {
      width: 400px;
      margin: 0 auto;
    }
    #alert {
      background: #FCC;
      text-align: center;
      padding: 5px 0;
    }
    #uploadform form {
      background: #DDD;
      padding: 1px 0;
    }
    #uploadform form div {
      margin: 20px 10px;
      padding: 10px;
      background: #CDCDCD;
    }
</style>
<% end %>
